body {
  font-family: Helvetica, Arial, sans-serif;
}
img {
  max-width: 100%;
}
.inner-wrapper {
  margin: 0 auto;
  max-width: 968px;
  width: 85%;
}
.all-caps {
  text-transform: uppercase;
}
header {
  padding: 16px 0;
}
.styled-header {
  color: darkgreen;
  letter-spacing: 0.5px;
  margin-right: 2px;
}
.page-header {
  border-bottom: 4px solid black;
  padding: 24px 0;
}
main {
  background: #faebd78a;
  padding: 42px 0;
}
article {
  background: white;
  border: 14px solid #0064006e;
  padding: 24px;
}
.headline span {
  display: inline-block;
  margin-top: 24px;
  position: relative;
}
.headline span::before {
  background: black;
  content: "";
  height: 1px;
  position: absolute;
  top: -12px;
  width: 60px;
}
.byline {
  font-size: 14px;
  line-height: 1.3;
  margin-top: 16px;
}
section {
  margin: 0 auto;
  max-width: 750px;
  padding: 24px 0;
}
h1,
h2 {
  font-weight: 700;
}
h1 {
  font-size: 32px;
}
h2 {
  font-size: 24px;
}
p {
  line-height: 1.25;
}
p+p {
  margin-top: 16px;
}
figure {
  margin: 0 auto 32px;
  max-width: 540px;
}
figcaption {
  font-size: 14px;
  line-height: 1.2;
  margin-top: 6px;
}
figcaption span {
  color: #000000a1;
  display: block;
  margin-top: 4px;
}

/* Mobile styles */
@media (max-width: 400px) {
  .headline {
    font-size: 24px;
    line-height: 1.2;
  }
}