body {
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
}
img {
  max-width: 100%;
}
.inner-wrapper {
  margin: 0 auto;
  max-width: 1100px;
  width: 85%;
}
h1,
h2,
h3,
h4 {
  font-weight: 700;
}
.intro {
  background: #3A1C71;
  background: linear-gradient(to right, #FFAF7B, #D76D77, #3A1C71);
  padding: 60px 0;
  text-align: center;
}
.intro .content-wrapper {
  background: white;
  display: inline-block;
  padding: 42px;
}
.intro h1 {
  font-size: 72px;
}
.intro h2 {
  font-size: 32px;
  margin-top: 18px;
  position: relative;
}
.intro .contact-links {
  margin-top: 60px;
}
.intro svg,
footer svg {
  width: 24px;
}
.intro svg {
  fill: black;
}
.contact-links li {
  display: inline-block;
}
.contact-links li+li {
  margin-left: 18px;
}
.row-blocks {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
}
.block-two-thirds {
  width: 60%;
}
.block-one-third {
  width: 30%;
}
.about h3,
.client-work h3 {
  font-size: 24px;
}
.about .inner-wrapper,
.client-work .inner-wrapper {
  padding: 60px 0;
}
.about .block-one-third {
  align-items: flex-start;
  display: flex;
}
.about p {
  line-height: 1.25;
}
.about p+p {
  margin-top: 14px;
}
.client-work {
  padding-top: 8px;
  position: relative;
}
.client-work .block-one-third {
  display: flex;
}
.client-work::before {
  background: #3A1C71;
  background: linear-gradient(to right, #FFAF7B, #D76D77, #3A1C71);
  content: "";
  height: 8px;
  position: absolute;
  top: 0;
  width: 100%;
}
.client-work .text-wrapper {
  background: white;
  margin-top: 12px;
  padding: 12px;
}
.client-work h4 {
  margin-bottom: 6px;
}
.client-work .block-one-third a {
  background: #3A1C71;
  background: linear-gradient(to top, #FFAF7B, #D76D77, #3A1C71);
  color: black;
  display: block;
  padding: 24px;
  text-decoration: none;
}
footer {
  background: black;
  color: white;
}
footer .inner-wrapper {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 18px 0;
}
footer svg {
  fill: white;
}

/* Inner-page styles */
header {
  background: #3A1C71;
  background: linear-gradient(to right, #FFAF7B, #D76D77, #3A1C71);
}
header a {
  background: white;
  color: black;
  display: inline-block;
  font-weight: 700;
  margin: 12px 0;
  padding: 12px;
  text-decoration: none;
}
header span+span {
  border-left: 2px solid black;
  margin-left: 6px;
  padding-left: 4px;
}

/* Mobile Styles */
@media (max-width: 800px) {
  .intro .content-wrapper {
    text-align: left;
  }
  .intro h1 {
    font-size: 54px;
    line-height: 1.2;
  }
  .intro h2 {
    font-size: 24px;
  }
  .client-work .block-one-third {
    width: 100%;
  }
  .client-work .row-blocks {
    flex-direction: column;
  }
  .client-work .block-one-third+.block-one-third {
    margin-top: 42px;
  }
}
@media (max-width: 400px) {
  .block-one-third,
  .block-two-thirds {
    width: 100%;
  }
  .intro .content-wrapper {
    padding: 32px;
  }
  .intro h1 {
    font-size: 42px;
  }
  .intro h2 {
    font-size: 18px;
    margin-top: 12px;
  }
  .about .row-blocks {
    flex-direction: column-reverse;
  }
  .about .block-two-thirds {
    margin-top: 24px;
  }
  footer .inner-wrapper {
    flex-direction: column;
    padding: 24px 0;
  }
  footer .contact-links {
    margin-top: 24px;
  }
  /* Inner-page styles */
  header span+span {
    border-left: none;
    display: block;
    margin-left: 0;
    margin-top: 6px;
    padding-left: 0;
  }
}
